<div class="mobile-nav" id="mobile-nav">

  <header class="nav-bar__content">

    <div class="mobile-nav__close" id="hide-mobile-nav">
      <img class="" src="/assets/img/icon--menu-nav-close.svg">
    </div>

    <a class="cart snipcart-checkout snipcart-summary">
      <span class="cart__ammount-mobile snipcart-total-price"></span>
      <img src="/assets/img/icon--cart--white.svg">
    </a>

  </header>

  <div class="mobile-nav__logo">
    <img src="/assets/img/logo--white.svg">
  </div>

  <nav class="nav-links-mobile">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop Products</a></li>
      <li><a href="/shop/category/bundles/">Bundles</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/ordering">Ordering Info</a></li>
      <li><a href="/disclaimer">Disclaimer</a></li>
      <li><a href="mailto:{{site.data.settings.location.email}}">Contact Us</a></li>
    </ul>
  </nav>

</div>
