<div class="nav-bar">

  <div class="nav-bar__content">

    <a class="nav-menu show-mobile-nav">
      <img src="/assets/img/icon--menu-nav.svg">
    </a>

    <div class="nav-logo">
      <a href="/">Li<span class="styleset03">f</span><span class="styleset02">e</span> F<span class="styleset03">l</span>ow<span class="styleset02">e</span>r</a>
    </div>

    <nav class="nav-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop Online</a></li>
        <li><a href="/shop/category/bundles/">Bundles</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="mailto:{{site.data.settings.location.email}}">Contact</a></li>
      </ul>
    </nav>

    <a class="cart snipcart-checkout snipcart-summary">
      <span class="cart__ammount snipcart-total-price"></span>
      <img src="/assets/img/icon--cart--white.svg">
    </a>

  </div>

</div>
