<div class="shop-categories">
  <div class="shop-categories__row">

    <a class="category-thumbnail" href="/shop">
        <img src="/assets/img/category--all-products.svg">
        <span class="category-text">All Products</span>
        <div class="category-new-spacer">&nbsp;</div>
    </a>

    {% assign categories = site.product-categories | sort: 'display_order' %}
    {% for category in categories %}
    {% if category.hidden == false %}

      <a class="category-thumbnail" href="{{category.url}}">
        <img src="{{category.image-url}}">
        <span class="category-text">{{category.title}}</span>

        {% if category.new == true %}
        <div class="category-new">New</div>
        {% endif %}

        {% if category.new == false %}
        <div class="category-new-spacer">&nbsp;</div>
        {% endif %}
      </a>

    {% endif %}
    {% endfor %}

  </div>
</div>
